**/.vscode
**/.gradle
**/caches
**/build
**/dist
**/es
**/lib
**/node_modules
**/test-results
**/.eslintcache
**/*.log
**/*.orig
**/*.project
**/*.settings
**/testGen
**/coverage
**/.gradle
**/*.iml
**/*.ipr
